/* add your CSS here */

/*  ************ Start of CSS Goals ************
1. create a flex based layout consisting of 3 boxes
2. Box1: which is the header should contain udacity logo and portfolio description
3. Box2: which is the main page should have 3 colors with hex marker codes and an image that expands or reduces in size as the screen size is increased ( in other words: responsive design)
4. Box3: App side images, which are a GUI representation of applications that are available for use
5. Try to input the following details that were learnt in class
		-- responsive web design
		-- media queries
		-- viewport
		-- display on mobile devices
		-- all HTML and CSS styling as mandated in project rubric

************ End of CSS Goals ************               */

/* begin styling for body */
body{
	border-radius: 25px;
	margin:2px 2px 2px 2px;
	border:3px outset red;
	padding: 2px 12px 10px 5px;
	background-image: url("background-image.jpg");
}
/* end styling for body */

/* begin styling for header container contents*/
#headercontainer{
	justify-content: center;
	width:100%;
  margin-top: 5px auto auto auto;
  border-radius: 15px;
	border: 3px outset coral;
	padding: 5px 0px 35px 0px;
  background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

#udacitylogo{
  margin:auto;
	border-radius: 50px;
	max-width: 100%;
	max-height: 100%;
}

.myheader{
	margin:15px 0px 10px 0px;
	border-radius: 50px;
	border: 3px;
	font-family: Comic Sans MS;
	font-style: italic;
  color:blue;
}

.mydescription{
	margin: auto;
  color:blue;
  font-family:Comic Sans MS;
}

/* start of code for left hand side bar */
#secondlevelcontainer{
	justify-content: center;
	flex-wrap: nowrap;
  width:100%;
	margin:5px -6px 0px 0px;
  border-radius: 15px;
	border: 3px solid coral;
	padding: 5px 0px 300px 0px;
}

#leftsidebarcontainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 50px;
	width:25%;
  border-style:solid;
  position: absolute;
  left:25px;
  border-color: yellow;
	background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

#leftsidecolors{
  margin-top: 15px;
  margin-bottom: 2px;
}

#color1{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	margin:0px 0px 0px 0px;
	background-color: blue;
}

#color2{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	background-color: navy;
}

#color3{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	background-color: aqua;
}

#colortextcode{
	font: italic bold 0.6em serif;
  color:magenta;
	margin: 2px 2px 2px 2px;
  border-style: 2px;
  padding: 3px 3px 3px 3px;
}

#colortextcode{
	font-size: 0.9em;
}

/* end of code for left hand side bar */

#rightsidebarcontainer.rightsidebarcontainerclass{
  display:flex;
	justify-content: center;
  position:absolute;
  right:15px;
	width:55%;
  height:45%;
  border: 3px solid yellow;
  border-radius: 55px;
}

#rhs-mainImageID.rhs-mainImage{
	width:100%;
	height:100%;
	border-radius: 50px;
  position: absolute;
}

#thirdlevelcontainer{
  display:flex;
  width:100%;
	margin: 5px -6px 0px 0px;
  border-radius: 15px;
  border: 3px solid coral;
  padding: 5px 0px 20px 0px;
  background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

#connectImgID.connectAppimg{
	width:30%;
	height:55px;
	border-radius: 200px;
  position:relative;
  margin:3px 3px 3px 3px;
  border:3px 3px 3px 3px;
  padding:3px 3px 3px 3px;

}

#networkImgID.networkAppimg{
  width:30%;
	height:55px;
	border-radius: 200px;
  position:relative;
  margin:3px 3px 3px 3px;
  border:3px 3px 3px 3px;
  padding:3px 3px 3px 3px;
}

#smartHomeImgID.smartHomeAppimg{
  width:30%;
	height:55px;
	border-radius: 200px;
  position:relative;
  margin:3px 3px 3px 3px;
  border:3px 3px 3px 3px;
  padding:3px 3px 3px 3px;
}

#AppTextID.AppTextClass{
  width:33%;
  margin:auto;
  padding: inherit;
  border-radius: 100px;
  font-size: 0.7em;
  font-weight: bold;
  color:magenta;
  text-align:center;
}
