/* add your CSS here */

/* begin styling for body */
body{
	border-radius: 25px;
	margin:2px 2px 2px 2px;
	border:3px outset red;
	padding: 2px 12px 10px 5px;
	background-image: url("background-image.jpg");
  background-size: auto;
}

/* end styling for body */

/* begin styling for main container contents*/
#headercontainer{
	width:100%;
	justify-content: center;
	margin: 5px -6px 0px 0px;
	border-radius: 15px;
  border: 3px outset coral;
	padding:5px 0px 50px 0px;
  background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

img#udacitylogo{
	margin:auto;
	border-radius: 50px;
	width:150px;
	height:50%;
	max-width: 100%;
	max-height: 100%;
}

p.myheader{
	margin: 15px 0px 10px 0px;
	border-radius: 50px;
	border: 3px;
	font: italic 2em Comic Sans MS;
  color:blue;
}

.mydescription{
	margin: auto;
  color:blue;
	font: italic 2em Comic Sans MS;
}

/* start of code for left hand side bar */
#secondlevelcontainer{
	display:flex;
  width:100%;
	justify-content: center;
	flex-wrap: nowrap;
  margin-top: 5px -6px 0px 0px;
  border-radius: 15px;
  border-style:3px solid coral;
  padding: 5px 0px 550px 0px;
}

div#leftsidebarcontainer{
	display:flex;
	flex-direction:column;
	justify-content: center;
	border-radius: 50px;
	width:25%;
	height:52%;
  border: 3px solid yellow;
  position: absolute;
  left:25px;
	background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

div#leftsidecolors{
  margin-top: 15px 0px 2px 0px;
}
div#color1{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	margin:0px 0px 0px 0px;
	background-color: blue;
}

div#color2{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	margin:0px 0px 0px 0px;
	background-color: navy;
}

div#color3{
	width:62px;
	height:50px;
	padding:0px 0px 0px 0px;
	border: 2px solid gray;
	border-radius: 15px;
	margin:0px 0px 0px 0px;
	background-color: aqua;
}

#colortextcode{
	font: italic bold 1em serif;
  color:magenta;
  margin: 2px;
  border-style: 2px;
  padding: 3px;
}

/* end of code for left hand side bar */

div#rightsidebarcontainer.rightsidebarcontainerclass{
  display:flex;
	flex-wrap: wrap;
	justify-content: center;
  position:absolute;
  right:23px;
	width:55%;
  height:52%;
  border: 3px solid yellow;
  border-radius: 60px;
}

img#rhs-mainImageID.rhs-mainImage{
	width:100%;
	height:100%;
	border-radius: 55px;
  position: absolute;
}

div#thirdlevelcontainer{
  display:flex;
	flex-wrap:nowrap;
	justify-content: center;
  width:100%;
  margin: 5px -6px 0px 0px;
  border-radius: 15px;
  border:3px solid coral;
  padding-top: 3px 0px 15px 0px;
  background: repeating-radial-gradient(white 5%, yellow 10%, green 5%);
}

img#connectImgID.connectAppimg{
	justify-content: center;
	width:50%;
	height:50%;
	border-radius: 200px;
  position:relative;
  margin:5px 5px 5px 5px;
  border:5px 5px 5px 5px;
}
img#networkImgID.networkAppimg{
	justify-content: center;
  width:50%;
	height:50%;
	border-radius: 200px;
  position:relative;
  margin:5px 5px 5px 5px;
  border:5px 5px 5px 5px;
}
img#smartHomeImgID.smartHomeAppimg{
	justify-content: center;
  width:50%;
	height:50%;
	border-radius: 200px;
  position:relative;
  margin:5px 5px 5px 5px;
  border:5px 5px 5px 5px;
}

p#AppTextID.AppTextClass{
  width:33%;
	justify-content: center;
  margin:auto;
  padding: inherit;
  border-radius: 100px;
	font: bold 0.8em;
  color:magenta;
}
